<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="14" android:versionName="1.2.1" package="com.gml.Movies" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="29" android:targetSdkVersion="34" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="com.google.android.gms.permission.AD_ID" />
	<application android:label="Nexus" android:icon="@drawable/icon">
		<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-1795523054003202~8503433754" />
	</application>
</manifest>